extends layout

block content
  h1 VATSIM Data Harvester 
  .container
    table.table
      thead.thead-light
        tr
          th(scope='col') Callsign
          th(scope='col') Name
          th(scope='col') Role
      tbody
        each val in data
          tr
            td #{val.callsign}
            td #{val.realname}
            td #{val.clienttype}